<%= link_to 'Make a New Post', new_post_path %>
<br><br>
<h1>Amber's Blog about animals!</h1>
<% @posts.each do |post| %>
  <h2> <%= post.title %></h2>
  <p><%= post.body %></p>
  <small><%= post.created_at.strftime '%Y-%m-%d' %></small>
  <hr>
<% end %>
